@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&family=Outfit:wght@100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
body {
  font-family: 'Outfit', 'Lexend Tera', 'Zalando Sans Expanded', sans-serif;
}
.font-outfit { font-family: 'Outfit', sans-serif; }
.font-lexend { font-family: 'Lexend Tera', sans-serif; }
.font-bbh { font-family: 'Zalando Sans Expanded', sans-serif; }
